<!DOCTYPE html>

<html>
  <head>
    <!-- <meta charset="utf-8" / -->
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure enim, sapiente accusantium dicta sit ducimus adipisci, consequuntur non nulla voluptatibus ipsam quidem dolor magni dignissimos maxime id sed ullam molestiae!</p>
    {{> footer}}
  </body>
</html>
